<p>POST requests are displayed here, newest to oldest. When contacting support, please copy the link to reference a specific post.</p>
<%= @message %>
<br><br>
<form action='/' method='get' id='new_bin'>
  <input type='submit' name='New Postbin' value='New Postbin' class="rs-btn rs-btn-primary">
</form>
<br><br>

