<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
<<<<<<< HEAD
    <link href="css/bootstrap.min.css" rel="stylesheet">
=======
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
>>>>>>> f4b3a4bd9cacd2d89189f43e6fcd64a8ddfdb518

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
<h1>Click the button below to do something:</h1>
<p>
  <form action='/1/ON' method='get' id='create_bin'>
    <button type='submit' class="btn btn-primary">Turn On Zone 1</button>
  </form>
</p>
<p>
  <form action='/1/OFF' method='get' id='create_bin'>
    <button type='submit' class="btn btn-primary">Turn Off Zone 1</button>
  </form>
</p>
<p>
  <form action='/1/ON' method='get' id='create_bin'>
    <button type='submit' class="btn btn-primary">Turn On Zone 2</button>
  </form>
</p>
<p>
  <form action='/2/OFF' method='get' id='create_bin'>
    <button type='submit' class="btn btn-primary">Turn Off Zone 2</button>
  </form>
</p>
<<<<<<< HEAD
</form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
=======
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
>>>>>>> f4b3a4bd9cacd2d89189f43e6fcd64a8ddfdb518
  </body>
</html>
