<html>
  <head>
    <title>Mailgun Postbin - Debug Mailgun Webhooks</title>
    <link href="https://mailgun.com/goldeneye/static/css/mg.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="https://mailgun.com/images/favicon.png" />
  </head>
  <body>
    <div class="rs-nav-utility">
      <div class="rs-container">
        <ul class="rs-nav rs-pull-right">
          <li><a href='http://mailgun.com/cp'>Control Panel</a></li>
          <li><a href='http://mailgun.com/cp/support'>Support</a></li>
          <li><a href='http://documentation.mailgun.com'>Documentation</a></li>
        </ul>
      </div>
    </div>
    <header>
      <div class="rs-container">
        <a class="mg-logo"></a>
      </div>
    </header>
      <div class="rs-main">
        <div class="rs-container">
          <div class="rs-panel rs-content mg-envelope" style = "margin-top: 2px;">
            <div class="rs-inner">
              <div class="rs-row">
                <div class="span-12">
                <%= yield %>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <footer class="rs-footer">
    <div class="rs-container">
    <ul class="rs-links">
        <li><a href='https://mailgun.com/cp/support'>Support</a></li>
        <li><a href='http://documentation.mailgun.com'>Documentation</a></li>
        <li><a href='http://documentation.mailgun.com/faqs.html'>Faq</a></li>
        <li><a href='http://blog.mailgun.com'>Blog</a></li>
        <li><a href='http://twitter.com/#!/mail_gun'>Twitter</a></li>
        <li><a href="http://www.mailgun.com/team">Team</a></li>
            <li><a href="http://mailgun.com/public/terms">Terms of Service</a></li>
            <li><a href="http://mailgun.com/public/privacy">Privacy Policy</a></li>
        <li style="text-align: right; font-weight: normal">Copyright 2010-13 Mailgun, Inc.</li>
    </ul>

    </div>
  </footer>
  </body>
</html>
