<p>Click the button below to do something:</p>
<p>
  <form action='/1/ON' method='get' id='create_bin'>
    <input type='submit' name='create' value='Turn On Zone 1'>
  </form>
</p>
<p>
  <form action='/1/OFF' method='get' id='create_bin'>
    <input type='submit' name='create' value='Turn Off Zone 1'>
  </form>
</p>
<p>
  <form action='/1/ON' method='get' id='create_bin'>
    <input type='submit' name='create' value='Turn On Zone 2'>
  </form>
</p>
<p>
  <form action='/2/OFF' method='get' id='create_bin'>
    <input type='submit' name='create' value='Turn Off Zone 2'>
  </form>
</p>
</form>